[submodule "visual_error_correction/third_party/segment-anything"]
	path = visual_error_correction/third_party/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "visual_error_correction/third_party/segment-anything-2"]
	path = visual_error_correction/third_party/segment-anything-2
	url = https://github.com/facebookresearch/segment-anything-2.git
[submodule "visual_error_correction/third_party/Ground-Segment-Anything"]
	path = visual_error_correction/third_party/Ground-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "visual_error_correction/third_party/Semantic-SAM"]
	path = visual_error_correction/third_party/Semantic-SAM
	url = https://github.com/UX-Decoder/Semantic-SAM.git
[submodule "visual_error_correction/third_party/Mask2Former"]
	path = visual_error_correction/third_party/Mask2Former
	url = https://github.com/facebookresearch/Mask2Former.git
[submodule "visual_error_correction/third_party/X-Decoder"]
	path = visual_error_correction/third_party/X-Decoder
	url = https://github.com/microsoft/X-Decoder.git
[submodule "visual_error_correction/third_party/SEEA"]
	path = visual_error_correction/third_party/SEEA
	url = https://github.com/UX-Decoder/Segment-Everything-Everywhere-All-At-Once.git
[submodule "visual_error_correction/third_party/OneFormer"]
	path = visual_error_correction/third_party/OneFormer
	url = https://github.com/SHI-Labs/OneFormer.git
